*{
    margin: 0;
    padding: 0;
}
h1{
    font-size: 4.25rem;
    color: #f7f441;
    padding: 1.25rem;
}
body {
    background-color: #b6a4b4;
    text-align: center;
  }
  
#game{
    height: 70vh;
    display: flex;
    justify-content: center;
}
.game_container{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5vmin;
}
.box{
    height: 18vmin;
    width: 18vmin;
    background: #e0dcdc92;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    font-size: 8vmin;
    color: #b0413e;
    background-color: #ffffc7;
}
#reset-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: #fff;
    border-radius: 1rem;
    border: none;

}

.msg{
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;

}
#wmsg{
    color: #ffffc7;
  font-size: 5vmin;
}
#newgame{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: #fff;
    border-radius: 1rem;
    border: none;
}
.hide {
    display: none;
  }